<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="TheMercedes" class="com.github.zakariandys.impl.Car">
		<constructor-arg type="java.lang.String">
			<value>Mercedes-Benz</value>
		</constructor-arg>

		<constructor-arg type="java.lang.String">
			<value>S-Class S550 4MATIC</value>
		</constructor-arg>

		<constructor-arg type="java.lang.String">
			<value>4.7L V8 Twin Turbpcharger</value>
		</constructor-arg>

		<constructor-arg type="java.lang.String">
			<value>Automatic 7-Speed</value>
		</constructor-arg>

		<constructor-arg type="java.lang.String">
			<value>Gasoline</value>
		</constructor-arg>

		<property name="motion" value="My human spirit is  moving to the future..."/>
	</bean>

	<bean id="TheBmw" class="com.github.zakariandys.impl.Car">
		<constructor-arg type="java.lang.String">
			<value>BMW</value>
		</constructor-arg>

		<constructor-arg type="java.lang.String">
			<value>7 Series 740Li</value>
		</constructor-arg>

		<constructor-arg type="java.lang.String">
			<value>3.0L I6</value>
		</constructor-arg>

		<constructor-arg type="java.lang.String">
			<value>Automatic 8-Speed</value>
		</constructor-arg>

		<constructor-arg type="java.lang.String">
			<value>Gasoline</value>
		</constructor-arg>

		<property name="motion"
			value="I am moving with pleasure. What an ultimate experience..."/>
	</bean>



</beans>